body {
    min-width: 320px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: #626262;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration-line: none;
    color: #b4ad9e;
}

a:hover {
    color: #898377;
}

header .bg-light {
    background-color: #fff !important;
}

header .navbar-brand {
    text-transform: uppercase;
    color: #000;
    font-family: 'Inconsolata', monospace;
    font-size: 1.4rem;
}

.navbar-nav .nav-item {
    text-transform: uppercase;
    margin-left: 3rem;
}

.navbar-nav .nav-item a::after, .link_message::after {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background-color: #898377;
    transform: scale(0);
    transition: all .3s;
}

.navbar-nav .nav-item a:hover::after, .link_message:hover::after {
    transform: scale(1);
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,0.75);
}

header {
    margin-bottom: 1rem;
}

.carousel-item img {
    max-width: 1110px;
    max-height: 517px;
    object-fit: cover;
}

.slider_img {
    margin-bottom: 3.5rem;
}

.post .post_category, .link_message {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #898377;
}

a.link {
    display: block;
    max-width: 9rem;
    text-align: center;
}

a.link_message {
    text-decoration-line: none;
}

.post_category, .post_title {
    margin-bottom: 1.5rem;
}

.post_title {
    font-size: 2rem;
}

.post_desc {
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
}

.post {
    margin-bottom: 8rem;
}