body {
    min-width: 320px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: #626262;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration-line: none;
    color: #b4ad9e;
}

a:hover {
    color: #898377;
}

header .bg-light {
    background-color: #fff !important;
}

header .navbar-brand {
    text-transform: uppercase;
    color: #000;
    font-family: 'Inconsolata', monospace;
    font-size: 1.4rem;
}

.navbar-nav .nav-item {
    text-transform: uppercase;
    margin-left: 3rem;
}

.navbar-nav .nav-item a::after, .link_message::after {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background-color: #898377;
    transform: scale(0);
    transition: all .3s;
}

.navbar-nav .nav-item a:hover::after, .link_message:hover::after {
    transform: scale(1);
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,0.75);
}

header {
    margin-bottom: 1rem;
}

.carousel-item img {
    max-width: 1110px;
    height: 80vh;
    /* min-height: 42vh; */
    object-fit: cover;
}

.slider_img {
    margin-bottom: 2rem;
}

.post_category, .link_message {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #898377;
}

a.link {
    display: block;
    max-width: 9rem;
    text-align: center;
}

a.link_sm {
    display: block;
    max-width: 3rem;
    text-align: center;
}

a.link_message, .post_category a {
    text-decoration-line: none;
}

.link_message:hover {
    color: #343a40;
}

.post_category, .post_title {
    margin-bottom: 1.5rem;
    display: block;
}

.post_title {
    font-size: 2rem;
}

.post_desc {
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
}

.post {
    margin-bottom: 8rem;
}

.card {
    border: none;
}

.card-body {
    padding-left: 0;
    padding-right: 0;
}

.card-body .post_desc {
    margin-bottom: .7rem;
}

.card-body .post_category {
    margin-bottom: 1rem;
}

.card-body .post_title {
    font-size: 1.7rem;
}


.card-img-top {
    width: auto;
    max-height: 280px;
    object-fit: cover;
}

.card {
    max-width: 420px;
    margin-bottom: 6rem;
}

.after_posts .btn-outline-secondary {
    border-radius: 0;
    border-color: #626262;
    color: #626262;
    padding: 0.6rem 1.7rem;
}

.after_posts .btn-outline-secondary:hover {
    background-color: transparent;
    color: #343a40;
    border-color: #343a40;
}

.spinner-border-sm {
    margin-right: 0.3rem;
    width: 0.9rem;
    height: 0.9rem;
    border-width: 0.2em;
}

.load_more i {
    font-style: initial;
}

.loader {
    display: none;
    padding: 0;
}

.grid_posts {
    margin-bottom: 6rem;
}

.subscr {
    background-color: #ececec;
    padding-bottom: 10rem;
}

.subscr_form > label {
    margin: 7rem auto 3rem;
}

.form-control, .subscr_form .btn, .form-control:focus {
    border: 0;
    border-bottom: 1px solid #343a40;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}